body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.chessBoardWrapper {
  display: flex;
}

.row {
  display: flex;
  flex-direction: row;
}

.row:nth-child(odd) .box:nth-child(odd),
.row:nth-child(even) .box:nth-child(even) {
  background: brown;
}

.box {
  height: 60px;
  width: 60px;
  box-sizing: border-box;
  outline: 1px solid black;
  background: cornsilk;
  position: relative;
  display: flex;
  position: relative;
}

.notation {
  position: absolute;
  font-size: 12px;
  padding: 1px;
}
